@import './abstracts/variables';
@import './abstracts/mixins';

.header {
    background-image: url('../img/new_baner-desck.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0px 0px 20% 0px;

    @media (max-width: $mobile-bp) {
        background-image: url('../img/new_baner-desck.jpg');
        height: auto;
    }

    @media (min-width: 1400px) {
        background-size: contain;
    }
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.6s ease;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;

    @media (max-width: $mobile-bp) {
        display: none;
    }
}

.header__nav:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

// =============================
.scroll-down {
    .header__nav {
        transform: translate3d(0, -100%, 0);
    }
}

.scroll-up {
    .header__nav {
        filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    }
}

// ================================================
.navbar-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.logo__nav-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}

.header__link {
    font-family: 'American Typewriter';
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.header__link:hover {
    color: #B33F00;
    transition: 0.5s ease;
}

.phone {
    text-decoration: none;
    font-family: 'American Typewriter';
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.phone:hover {
    color: #B33F00;
    transition: 0.5s ease;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 140px;
    opacity: 0.9;

    @media (max-width: $mobile-bp) {
        height: 145vw;
    }
}

.logo__nav-main {
    width: 300px;
    border-radius: 50%;

    @media (max-width: 900px) {
        margin-top: 10%;
        width: 200px;
    }

    @media (max-width: 600px) {
        margin-top: -40%;
        width: 160px;
    }
}

.text__container-title_logo {
    color: #ffffff;
    font-family: 'Meteorit Decco';
    font-size: 52px;
}

.logo__container {
    @media (max-width: $mobile-bp) {
        // display: none;
    }
}

.text__container {
    font-family: 'American Typewriter';
    line-height: 1.5;
    color: #ffffff;
    padding: 20px 10px;
    font-weight: bold;

    @media (max-width: $mobile-bp) {
        line-height: 1.2;
        width: 100%;
        font-weight: 400;
        // display: none;
    }
}

.text__container-title {
    font-size: 28px;
}

.text__container-text {
    font-size: 22px;
    font-weight: bold;
}