@font-face {
    font-family: 'Meteorit Decco';
    src: url('../fonts/meteorit_deco.ttf');
}

@font-face {
    font-family: 'American Typewriter';
    src: url('../fonts/ufonts.com_american-typewriter.ttf');
}